@model IEnumerable<WebStatCesi.DTO.AcademyWrapper>

<h2>@Global.Ressources.Academy</h2>

@if (Request.IsAuthenticated)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.area)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.id
                    </td>
                    <td>
                        @item.name
                    </td>
                    <td>
                        @item.area
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p> @Global.Ressources.PleaseSignIn </p>
}